nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
  }
  nav.img {
      float:right;
  }
  tab {
      text-indent: 50px;
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
 }
 content {
   margin-top: 10px;
    padding: 20px;
 }